@import "tailwindcss";
@plugin "tailwindcss-motion";

*{
  font-family:'Poppins', sans-serif;
}

@keyframes nudge {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
}
